<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="play.shaded.ahc.org.asynchttpclient" level="INFO"/>
    <logger name="play.shaded.ahc.io.netty" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="INFO"/>
    <logger name="org.apache.hc.client5.http" level="INFO"/>
    <logger name="com.github.dockerjava" level="INFO"/>
    <logger name="org.testcontainers" level="WARN"/>
    <logger name="com.opentable.db.postgres" level="WARN"/>
</configuration>