@(context: PageContext)(content: Html)(implicit assets: AssetsFinder)
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <head>
        <title>@context.title</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="The Cycling Platform">
        <meta name="author" content="velocorner.com">
        <meta name="theme-color" content="#ffffff"/>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="@assets.path("images/favicon.png")">
        <link rel="apple-touch-icon" href="@assets.path("images/appleicon.png")">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/css/style.css")">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="@assets.path("unify/assets/css/headers/header-default.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/css/footers/footer-v2.css")">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/line-icons/line-icons.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/revolution-slider/rs-plugin/css/settings.css")" type="text/css" media="screen">
        <!--[if lt IE 9]><link rel="stylesheet" href="@assets.path("unify/assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css")" type="text/css" media="screen"><![endif]-->

        <!-- CSS Theme -->
        <link rel="stylesheet" href="@assets.path("unify/assets/css/theme-colors/default.css")">
        <link rel="stylesheet" href="@assets.path("unify/assets/css/theme-skins/dark.css")" id="style_color">
        <!-- CSS Page Style -->
        <link rel="stylesheet" href="@assets.path("unify/assets/css/pages/page_404_error.css")">

        <!-- Weather icons -->
        <link rel="stylesheet" href="@assets.path("unify/assets/plugins/line-icons-pro/styles.css")">

        <!-- CSS autocomplete overrides-->
        <link rel="stylesheet" href="@assets.path("autocomplete/jquery.autocomplete.css")">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="@assets.path("unify/assets/css/custom.css")">

        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@assets.path("stylesheets/social-icons.css")">

        <script src="@routes.Assets.at("highcharts/highcharts.js")" type="text/javascript"></script>

        <script async src="@assets.path("javascripts/app.js")" type="text/javascript"></script>
        <script src="@assets.path("javascripts/moment.min.js")" type="text/javascript"></script>
    </head>

    <body>
    <div class="wrapper">
    <!--=== Header ===-->
        <div class="header no-topbar">
            <br/>
            @navbar(context)
        </div>
        <!--=== End Header ===-->

        <!--=== Slider ===-->
        <div class="tp-banner-container @{if (context.account.isDefined) "VC_height200" else "VC_height300"} hidden-sm hidden-xs">
            <div class="tp-banner">
                <ul>
                    @slide_item("images/background/davos.webp", "Davos")

                    @slide_item("images/background/colnago.webp", "Colnago")

                    @slide_item("images/background/gemmi.webp", "Gemmipass")

                    @slide_item("images/background/stelvio2.webp", "Stelvio")

                    @slide_item("images/background/lenzerheide.webp", "Lenzerheide")

                    @slide_item("images/background/surenenpass3.webp", "Surenenpass")

                    @slide_item("images/background/sustenpass.webp", "Sustenpass")

                    @slide_item("images/background/schwialp.webp", "Schwialppass")

                    @slide_item("images/background/colnagov1r.webp", "Colnago V1R")
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!--=== End Slider ===-->


        <!--=== Content Part ===-->
        <div class="container content">
            @content
        </div>
        <!-- End Content Part -->


        <!--=== Footer v2 Section ===-->
        <section>
            <!-- Footer Version 1 -->
            <div id="footer-v2" class="footer-v2">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <!-- Social Links -->
                            <div class="col-md-8 md-margin-bottom-40">
                                <!-- LightWidget Instagram WIDGET --><script src="http://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe title="Instagram" src="//lightwidget.com/widgets/aa5ba80ed03c5bc187d1419e2a57bac8.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                            </div>
                            <div class="col-md-4 md-margin-bottom-40">
                                <div class="headline"><h2 class="heading-sm">Contact Us</h2></div>
                                <ul class="social-icons">
                                    <li class="VC_social_icon"><a href="https://www.instagram.com/peregin" data-original-title="Instagram" class="rounded-x social_instagram">Instagram</a><small>INSTAGRAM</small></li>
                                    <li class="VC_social_icon"><a href="https://github.com/peregin/velocorner.com" data-original-title="Github" class="rounded-x social_github">GitHub</a><small>GITHUB</small></li>
                                    <li class="VC_social_icon"><a href="https://www.strava.com/clubs/velocorner" data-original-title="Strava" class="rounded-x social_strava">Strava</a><small>STRAVA</small></li>
                                    <li class="VC_social_icon"><a href="https://www.youtube.com/channel/UCekBQAfLHviXTvB1kVjzBZQ" data-original-title="Youtube" class="rounded-x social_youtube">Youtube</a><small>YOUTUBE</small></li>
                                    <li class="VC_social_icon"><a href="https://twitter.com/velocorner_com" data-original-title="Twitter" class="rounded-x social_twitter">Twitter</a><small>TWITTER</small></li>
                                    <li class="VC_social_icon"><a href="mailto:velocorner.com@@gmail.com" data-original-title="Email" class="rounded-x social_email">velocorner.com@@gmail.com</a><small>EMAIL</small></li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                    </div>
                </div><!--/footer-->

                <div class="copyright">
                    <div class="container">
                        <p class="text-center">2015 - @(org.joda.time.LocalDate.now().getYear()) &copy; All Rights Reserved <a target=footer and contain"_blank" href="http://velocorner.com">Velocorner</a></p>
                    </div>
                </div><!--/copyright-->

            </div>
            <!-- End Footer Version 2 -->
        </section>
        <!--=== End Footer v2 Section ===-->


    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/jquery/jquery-migrate.min.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/bootstrap/js/bootstrap.js")"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
    <script type="text/javascript" src="@assets.path("autocomplete/jquery.autocomplete.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@assets.path("unify/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@assets.path("unify/assets/js/app.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/js/plugins/owl-carousel.js")"></script>
    <script type="text/javascript" src="@assets.path("unify/assets/js/plugins/revolution-slider.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            OwlCarousel.initOwlCarousel();
            jQuery('.tp-banner').revolution(
	            {
	                delay:9000,
	                startwidth:1170,
	                startheight:@{if (context.account.isDefined) "200" else "300"},
	                hideThumbs:10,
					navigationStyle:"preview4"
	            });
            //RevolutionSlider.initRSfullWidth();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="@assets.path("unify/assets/plugins/respond.js")"></script>
    <script src="@assets.path("unify/assets/plugins/html5shiv.js")"></script>
    <script src="@assets.path("unify/assets/js/plugins/placeholder-IE-fixes.js")"></script>
    <![endif]-->


    @analytics()

    </body>
</html>
