@(title: String)(content: Html)

<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<head>
        <title>@title</title>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Cycling Platform">
        <meta name="author" content="Velocorner">

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/css/style.css")">

        <!-- CSS Header and Footer -->
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/css/headers/header-default.css")">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/line-icons/line-icons.css")">
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.css")">
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/revolution-slider/rs-plugin/css/settings.css")" type="text/css" media="screen">
        <!--[if lt IE 9]><link rel="stylesheet" href="@routes.Assets.at("unify/assets/plugins/revolution-slider/rs-plugin/css/settings-ie8.css")" type="text/css" media="screen"><![endif]-->

        <!-- CSS Theme -->
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/css/theme-colors/default.css")">
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/css/theme-skins/dark.css")" id="style_color">


        <!-- CSS Customization -->
        <link rel="stylesheet" href="@routes.Assets.at("unify/assets/css/custom.css")">


        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/social-icons.css")">
        <script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>
    </head>

    <body>
    <div class="wrapper">
    <!--=== Header ===-->
        <div class="header">

            <br/>
            <!-- @@topbar() -->

            @navbar()

        </div>
        <!--=== End Header ===-->

        <!--=== Slider ===-->
        <div class="tp-banner-container" style="height: 300px;">
            <div class="tp-banner">
                <ul>
                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Stelvio">
                        <!-- MAIN IMAGE -->
                        <img src="@routes.Assets.at("images/background/stelvio2.jpg")"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="1500"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endeasing="Power1.easeIn"
                            data-endspeed="300">
                            Stelvio
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Lenzerheide">
                        <!-- MAIN IMAGE -->
                        <img src="@routes.Assets.at("images/background/lenzerheide.jpg")"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="1500"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endeasing="Power1.easeIn"
                            data-endspeed="300">
                            Lenzerheide
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Surenenpass">
                        <!-- MAIN IMAGE -->
                        <img src="@routes.Assets.at("images/background/surenenpass3.jpg")"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="1500"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endeasing="Power1.easeIn"
                            data-endspeed="300">
                            Surenenpass
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Sustenpass">
                        <!-- MAIN IMAGE -->
                        <img src="@routes.Assets.at("images/background/sustenpass.jpg")"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="1500"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endeasing="Power1.easeIn"
                            data-endspeed="300">
                            Sustenpass
                        </div>
                    </li>
                    <!-- END SLIDE -->

                    <!-- SLIDE -->
                    <li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="Schwialppass">
                        <!-- MAIN IMAGE -->
                        <img src="@routes.Assets.at("images/background/schwialp.jpg")"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <div class="tp-caption revolution-ch1 sft start"
                            data-x="right"
                            data-hoffset="0"
                            data-y="100"
                            data-speed="1500"
                            data-start="500"
                            data-easing="Back.easeInOut"
                            data-endeasing="Power1.easeIn"
                            data-endspeed="300">
                            Schwialppass
                        </div>
                    </li>
                    <!-- END SLIDE -->
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!--=== End Slider ===-->


        <!--=== Content Part ===-->
        <div class="container content">
            @content
        </div>
        <!-- End Content Part -->


        <!--=== Footer v2 Section ===-->
        <section>
            <!-- Footer Version 1 -->
            <div class="footer-v1">
                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    2015 &copy; All Rights Reserved.
                                </p>
                            </div>

                            <!-- Social Links -->
                            <div class="col-md-6">
                                <ul class="social-icons">
                                    <li style="margin-right: 30px;"><a href="https://twitter.com/velocorner_com" data-original-title="Twitter" class="social_twitter"></a><small>TWITTER</small></li>
                                    <li style="margin-right: 30px;"><a href="https://github.com/peregin/velocorner.com" data-original-title="Github" class="social_github"></a><small>GITHUB</small></li>
                                    <li style="margin-right: 30px;"><a href="https://www.strava.com/clubs/velocorner" data-original-title="Strava" class="social_strava"></a><small>STRAVA</small></li>
                                    <li style="margin-right: 30px;"><a href="mailto:velocorner.com@@gmail.com" data-original-title="Email" class="social_email">velocorner.com@@gmail.com</a><small>EMAIL</small></li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                    </div>
                </div><!--/copyright-->
            </div>
            <!-- End Footer Version 1 -->
        </section>
        <!--=== End Footer v2 Section ===-->


    </div>

    <!-- JS Global Compulsory -->
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/jquery/jquery-migrate.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>
    <!-- JS Implementing Plugins -->
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/back-to-top.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/owl-carousel/owl-carousel/owl.carousel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js")"></script>
    <!-- JS Customization -->
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/js/custom.js")"></script>
    <!-- JS Page Level -->
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/js/app.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/js/plugins/owl-carousel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("unify/assets/js/plugins/revolution-slider.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            App.init();
            OwlCarousel.initOwlCarousel();
            RevolutionSlider.initRSfullWidth();
        });
    </script>
    <!--[if lt IE 9]>
    <script src="@routes.Assets.at("unify/assets/plugins/respond.js")"></script>
    <script src="@routes.Assets.at("unify/assets/plugins/html5shiv.js")"></script>
    <script src="@routes.Assets.at("unify/assets/js/plugins/placeholder-IE-fixes.js")"></script>
    <![endif]-->


    @analytics()

    </body>
</html>
