@(title: String = "Home")(implicit assets: AssetsFinder)

<!-- Navbar -->
<div class="navbar navbar-default mega-menu navbar-responsive-collapse" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <h2>
                <a class="navbar-brand VC_nopadding" href="/">
                    <img id="logo-header" class="VC_logo_size" src="@assets.path("images/logo50.png")" alt="Logo1">
                </a>
                <a class="navbar-brand" href="/">VELOCORNER</a>
            </h2>
        </div>

        <!--  Search input form -->
        <div class="input-group" style="width: 50%; float: left; margin: 10px;">
            <input id="search" name="search" type="text" class="form-control" placeholder="Search for activities ...">
            <span class="input-group-btn">
                <button class="btn-u" type="button"><i class="fa fa-search"></i></button>
            </span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <!-- Home -->
                <li class="@(if (title == "Home") "active" else "")"><a href="/">Home</a></li>
                <!-- About -->
                <li class="@(if (title == "About") "active" else "")"><a href="/about">About Us</a></li>
            </ul>
        </div><!--/navbar-collapse-->
    </div>
</div>
<!-- End Navbar -->

<script type="text/javascript" src="@assets.path("unify/assets/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
        $("#search").autocomplete({
             source: {
                 "Apple": null,
                 "Microsoft": null,
                 "Google": null
             }});
    });
//]]>
</script>