@(image: String, title: String)

<!-- SLIDE -->
<li class="revolution-mch-1" data-transition="fade" data-slotamount="5" data-masterspeed="1000" data-title="@title">
    <!-- MAIN IMAGE -->
    <img src="@routes.Assets.at(image)"  alt="darkblurbg"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

    <div class="tp-caption revolution-ch1 sft start"
         data-x="right"
         data-hoffset="0"
         data-y="100"
         data-speed="1500"
         data-start="500"
         data-easing="Back.easeInOut"
         data-endeasing="Power1.easeIn"
         data-endspeed="300">
        Stelvio
    </div>
</li>
<!-- END SLIDE -->