
<!-- Topbar -->
<div class="topbar">
    <div class="container">
        <!-- Topbar Navigation -->
        <ul class="loginbar pull-right">
            <li class="languagesSelector">
                <i class="fa fa-globe"></i>
                <a>Languages</a>
                <ul class="languages">
                    <li class="active">
                        <a href="#">English <i class="fa fa-check"></i></a>
                    </li>
                    <li><a href="#">Hungarian</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
            </li>
            <li class="topbar-devider"></li>
            <li><a href="page_login.html">Login</a></li>
        </ul>
        <!-- End Topbar Navigation -->
    </div>
</div>
<!-- End Topbar -->
