.metadata/
.DS_Store
.project
.metadata
.scala_dependencies
.classpath
.settings
.gradle
.cache
.idea/*
.idea_modules/*
bin/
target/
gen/
out/
build/
logs/
*.tmp
*.bak
*.swp
*.log
RemoteSystemsTempFiles/
rethinkdb_data/
projectFilesBackup*/
orientdb_data/
localhost/
/elastic/
spark-warehouse/

