
/**
 * Overwrites
 *
 * header image is 1920x300
 */
.VC_nopadding {padding: 0;}
.VC_padding8 {padding: 8px;}

.VC_logo_size {height: 40px; width: 40px;}

.VC_height200 {height: 200px;}
.VC_height300 {height: 300px;}
.VC_margin_right20 {margin-right: 20px;}
.VC_social_icon {
    padding-right: 15px;
    font-size: 50%;
    text-align: center;
}

.VC_img_shadow {
    box-shadow: 8px 8px 15px 1px rgba(13,13,18,0.16);
}

.counters span {
    font-size: 25px;
}

@media (max-width: 992px) {
    .counters span {
        font-size: 15px;
    }
    .counters span.counter-icon i {
        padding: 12px;
        min-width: 28px;
        font-size: 20px;
    }
    h4, .h4 {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .counters {
        display: inline-table;
    }
    .counters span {
        font-size: 12px;
    }
    .counters span.counter-icon i {
        padding: 5px;
        min-width: 25px;
        font-size: 15px;
    }
    .col-sm-1 {
        padding-left: 8px;
        padding-right: 8px;
    }
}