
/**
 * Overwrites
 *
 * header image is 1920x300
 */
.VC_nopadding {padding: 0;}
.VC_padding8 {padding: 8px;}

.VC_logo_size {height: 40px; width: 40px;}

.VC_height200 {height: 200px;}
.VC_height300 {height: 300px;}
.VC_margin_right20 {margin-right: 20px;}
.VC_social_icon {
    padding-right: 15px;
    font-size: 50%;
    text-align: center;
}

.VC_img_shadow {
    box-shadow: 8px 8px 15px 1px rgba(13,13,18,0.16);
}

.VC_profile {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

/** adjusted below for smaller devices **/
.VC_map {
    height: 750px;
}

.counters span {
    font-size: 18px;
    text-align: center;
}
.counters span.counter-icon i {
    padding: 18px;
    min-width: 25px;
    font-size: 30px;
}
.counters h4 {
    font-size: 15px;
    text-align: center;
}

/** same row height on bigger devices */
@media (min-width: 768px) {
    .VC_equal_height {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
    }
}

/** smallish fonts on medium size devices */
@media (max-width: 992px) {
    .counters span {
        font-size: 15px;
    }
    .counters span.counter-icon i {
        padding: 12px;
        min-width: 28px;
        font-size: 20px;
    }
    .counters h4, .h4 {
        font-size: 12px;
    }
    .VC_profile {
        font-size: 10px;
    }
}
/** smaller fonts on small devices */
@media (max-width: 768px) {
    .counters {
        display: inline-table;
    }
    .counters span {
        font-size: 10px;
    }
    .counters span.counter-icon i {
        padding: 5px;
        min-width: 25px;
        font-size: 15px;
    }
    .col-sm-1 {
        padding-left: 2px;
        padding-right: 2px;
    }
    .VC_map {
        height: 400px;
    }
    
    /* Fix countdown widget on mobile */
    #defaultCountdown {
        font-size: 0.6em !important;
    }
    #defaultCountdown span.countdown_section {
        padding: 5px 8px !important;
        margin-bottom: 1px !important;
    }
    #defaultCountdown span.countdown_amount {
        font-size: 20px !important;
        padding: 3px !important;
    }
    .coming-soon-plugin h3 {
        font-size: 18px !important;
    }
    .coming-soon-plugin p {
        font-size: 12px !important;
    }
}

#windy #logo-wrapper {
    top: initial;
    top: 10px;
}

#windy #logo-wrapper #logo {
    left: 80px;
}