@(implicit assets: AssetsFinder)
@common.main("About") {

<h1 xmlns="http://www.w3.org/1999/html">Welcome to the cycling site!</h1>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            The site provides metrics for cycling (or for other kind of sports) activities, trail descriptions, biking videos.
        </p>
        <p>
            The metrics page compares yearly aggregated data, such as distance, hours ridden, elevation gained and shows
            year to date series as well.
            The yearly data is also presented as a heatmap, so it is easy to compare the efforts for a given period of the year.
            Currently I'm using <a href="http://www.strava.com">Strava</a> and <a href="https://connect.garmin.com/">Garmin Connect</a>
            to track my activities, the data feed is collected via the <a href="https://developers.strava.com/docs/reference/">Strava API</a>.
            Let me know if you are interested to see other kind of metrics useful to analyze the riding data.
        </p>
    </div>
    <h2>Stay connected!</h2>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            I'd love to hear your feedback! If you have any questions, complains or even compliments feel free to contact me.
            Thank you for visiting and I'm waiting you to come back for new content.
        </p>
    </div>

    <!-- Accordion v1 for technical build information -->
    <div class="panel-group acc-v1 tag-box-v2 box-shadow shadow-effect-1" id="accordion-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
                        Version Information: @buildinfo.BuildInfo.version <small>click for more...</small>
                    </a>
                </h4>
            </div>
            <div id="collapse-One" class="panel-collapse collapse">
                <div class="panel-body">
                    <span class="row">
                        <ul class="list-group sidebar-nav-v1" id="sidebar-nav-1">
                            <li class="list-group-item">
                                <span class="badge badge-green rounded-2x">@buildinfo.BuildInfo.version</span>
                                <div class="VC_padding8">Build Version</div>
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-dark rounded-2x">@buildinfo.BuildInfo.buildTime</span>
                                <div class="VC_padding8">Build Time</div>
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-blue rounded-2x">@buildinfo.BuildInfo.scalaVersion</span>
                                <div class="VC_padding8">Scala Version</div>
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-orange rounded-2x">@buildinfo.BuildInfo.elasticVersion</span>
                                <div class="VC_padding8">Elastic Version</div>
                            </li>
                            <li class="list-group-item">
                                <span class="badge badge-aqua rounded-2x">@buildinfo.BuildInfo.playVersion</span>
                                <div class="VC_padding8">Play Version</div>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            <a href="/docs">REST API</a> for statistics.
        </p>
    </div>
}
