
@common.main("Welcome to Velocorner") {

    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <h2>Stay Connected!</h2>
        <p>
            Welcome to the cycling site! The original idea of the site is to provide some simple metrics to cycling
            (or other kind of sporting) activities.
            Currently I'm using <a href="www.strava.com">Strava</a> and <a href="https://connect.garmin.com/">Garmin Connect</a>
            to track my activities.

            I'd love to hear your feedback! If you have any questions, complains or even compliments feel free to contact me.
            Thank you for visiting and I'm waiting you to come back for new content.
        </p>
    </div>

}
