@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

    <h1 xmlns="http://www.w3.org/1999/html">Welcome to the cycling site!</h1>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            The site provides metrics for cycling and running (or for other kind of sports) activities.
        </p>
        <p>
            The metrics page compares yearly aggregated data, such as distance, hours ridden, elevation gained and shows
            year to date series as well.
            The yearly data is also presented as a heatmap, so it is easy to compare the efforts for a given period of the year.
            Currently, it is using <a href="http://www.strava.com">Strava</a> and <a href="https://connect.garmin.com/">Garmin Connect</a>
            to track activities and the data feed is collected via the <a href="https://developers.strava.com/docs/reference/">Strava API</a>.
            Let me know if you are interested to see other kind of metrics useful to analyze the riding data.
            It helps you find the best component prices via the product aggregator page.
        </p>
    </div>
    <h2>Stay connected!</h2>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            We'd love to hear your feedback! If you have any questions, ideas for metrics then feel free to contact us.
            Thank you for visiting, and we are waiting you to come back for new content.
        </p>
    </div>

    <!-- Accordion v1 for technical build information -->
    <div class="panel-group acc-v1 tag-box-v2 box-shadow shadow-effect-1" id="accordion-1">
        <div style="padding: 15px;">
            <span class="fa fa-cogs"></span> Build Time: <span style="color: gray;" id="status-build-time-main">X</span>
            <span class="fa fa-clock-o"></span> Uptime: <span style="color: gray;" id="status-up-time-main">X</span>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One" aria-expanded="false">
                        <span class="fa fa-plus-square-o"></span> Version Information: <span id="status-title">X</span> <small> click for more...</small>
                    </a>
                </h4>
            </div>
            <div id="collapse-One" class="panel-collapse collapse">
                <div class="panel-body">
                    <span class="row">
                        <ul class="list-group sidebar-nav-v1" id="sidebar-nav-1">
                            <li class="list-group-item">
                                <span id="status-version" class="badge badge-green rounded-2x">X</span>
                                <div class="VC_padding8">Build Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-build-time" class="badge badge-red rounded-2x">X</span>
                                <div class="VC_padding8">Build Time</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-host-os-version" class="badge badge-purple rounded-2x">X</span>
                                <div class="VC_padding8">Host OS Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-os-version" class="badge badge-aqua rounded-2x">X</span>
                                <div class="VC_padding8">OS Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-java-version" class="badge badge-sea rounded-2x">X</span>
                                <div class="VC_padding8">Java Runtime Version</div>
                            </li>
                                <li class="list-group-item">
                                <span id="status-docker-image" class="badge badge-red rounded-2x">X</span>
                                <div class="VC_padding8">Docker Base Image</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-scala-version" class="badge badge-yellow rounded-2x">X</span>
                                <div class="VC_padding8">Scala Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-sbt-version" class="badge badge-sea rounded-2x">X</span>
                                <div class="VC_padding8">SBT Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-cats-version" class="badge badge-blue rounded-2x">X</span>
                                <div class="VC_padding8">Cats Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-play-version" class="badge badge-aqua rounded-2x">X</span>
                                <span id="status-play-mode" class="badge badge-aqua rounded-2x">X</span>
                                <div class="VC_padding8">Play Version</div>
                            </li>
                            <li class="list-group-item">
                                <span id="status-pings" class="badge badge-red rounded-2x">X</span>
                                <div class="VC_padding8">Pings</div>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            <img alt="Swagger" width="32" height="32" src="@assets.path("images/icons/swagger-200.png")" />
            Use <a href="/docs">Velocorner API</a> to retrieve various statistics your activities.
            Supports <a href="https://www.openapis.org/">OpenAPI</a> initiative and it is <a href="https://swagger.io/">Swagger</a> compatible.
        </p>
    </div>

    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <p>
            <span class="fa fa-clock-o"></span> Uptime <span id="up-time">0</span>, Memory usage of <span id="memory-total-bytes">1.00 Gb</span>
            <div id="memory-progress-bar" class="progress-bar progress-bar-info"
                 role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                11% Used
            </div>
            <br/>
        </p>
    </div>

    <div class="tag-box tag-box-v2 box-shadow">
        <h1>Tech Stack</h1>
        <p>
            Building the cycling platform provides a good opportunity to experiment and learn new technologies or languages in a
            "live" environment.<br/>
            The infrastructure is built following the "Infra as code" principle, the FE is written in <i>React</i>, on the BE the
            web gateway in <i>Scala</i> with the <i>Play Framework</i> exposing the contract with Swagger.
            Services are communicating via <i>http</i> with each other, exploring various languages and technologies:
            <ul>
            <li> web-app with <i>Scala</i> and <i>Play Framework</i>, <i>ZIO</i></li>
            <li> web-front with <i>React</i></li>
            <li> crawler-service with <i>Scala</i>, <i>http4s</i>, <i>cats-effect</i>, <i>circe</i> (Typelevel stack)</li>
            <li> exchange-rate-service with <i>Rust</i></li>
            <li> data-provider with various database support </i>postgresql</i>, <i>orientdb</i>, <i>rethinkdb</i>, etc.</li>
            <li> data-search - with <i>zinc-search</i> a lightweight replacement for elasticsearch</li>
            <li> user-service - with <i>Java</i> and <i>Spring Boot</i></li>
            <li> weather-service - with <i>Kotlin</i></li>
            <li> health-check-service - with <i>Go</i></li>
            </ul>
        </p>
        <div>
            <a frameborder="0" data-theme="light" data-layers="1,2,3" data-stack-embed="true" href="https://embed.stackshare.io/stacks/embed/f7bae6d6f4b93e1339ab07a0ab5137"/></a>
            <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
        </div>
    </div>
}

<!-- end of common main section -->

<script type="text/javascript">//<![CDATA[
    analytics.page('About');
    // self executing function
    (function() {
       $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/status",
            timeout: 20000,
            success: function(data) {
                console.log(data);
                $('#status-title').html(data.appVersion + " - Build Hash: " + data.gitHash.slice(0, 10))
                $('#status-version').html(data.appVersion)
                $('#status-build-time').html(data.buildTime)
                $('#status-build-time-main').html(data.buildTime)
                $('#status-up-time-main').html(data.upTime)
                $('#status-host-os-version').html(data.hostOsVersion)
                $('#status-os-version').html(data.osVersion)
                $('#status-docker-image').html(data.dockerBaseImage)
                $('#status-java-version').html(data.javaVersion)
                $('#status-scala-version').html(data.scalaVersion)
                $('#status-sbt-version').html(data.sbtVersion)
                $('#status-cats-version').html(data.catsVersion)
                $('#status-play-version').html(data.playVersion)
                $('#status-play-mode').html(data.applicationMode)
                $('#memory-progress-bar').attr('aria-valuenow', data.memoryUsedPercentile).css("width", data.memoryUsedPercentile + "%");
                $('#memory-progress-bar').html(data.memoryUsedPercentile + '% Used');
                $('#memory-total-bytes').html(formatBytes(data.memoryTotal));
                $('#up-time').html(data.upTime);
                $('#status-pings').html(data.pings);
           }
        });

    })();
//]]>
</script>
