@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

    <h1 xmlns="http://www.w3.org/1999/html">Admin</h1>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <div class="panel-body">
            <span class="row">
                <ul class="list-group sidebar-nav-v1" id="sidebar-nav-1">
                    <li class="list-group-item">
                        <span id="admin-accounts" class="badge badge-green rounded-2x">X</span>
                        <div class="VC_padding8">Accounts</div>
                    </li>
                    <li class="list-group-item">
                        <span id="admin-active-accounts" class="badge badge-orange rounded-2x">X</span>
                        <div class="VC_padding8">Active Accounts</div>
                    </li>
                    <li class="list-group-item">
                        <span id="admin-activities" class="badge badge-yellow rounded-2x">X</span>
                        <div class="VC_padding8">Activities</div>
                    </li>
                </ul>
            </span>
        </div>
    </div>

    <h1 xmlns="http://www.w3.org/1999/html">Products</h1>
    <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
        <div class="panel-body">
                <span class="row">
                    <ul class="list-group sidebar-nav-v1" id="sidebar-nav-2">
                        <li class="list-group-item">
                            <span id="admin-markets" class="badge badge-sea rounded-2x">X</span>
                            <div class="VC_padding8">Markets</div>
                        </li>
                    </ul>
                </span>
        </div>
    </div>
}

<!-- end of common main section -->

<script type="text/javascript">//<![CDATA[
    analytics.page('Admin');
    // self executing function
    (function() {
       $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/admin/status",
            timeout: 20000,
            success: function(data) {
                console.log(data);
                $('#admin-accounts').html(data.accounts)
                $('#admin-active-accounts').html(data.activeAccounts)
                $('#admin-activities').html(data.activities)
                $('#admin-brands').html(data.brands)
                $('#admin-markets').html(data.markets)
           }
       });
    })();
//]]>
</script>
