@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

<div align="center" class="row">
    <div class="col-md-12 coming-soon">
        <h1>Find the best price for bikes, components, accessories, clothing, brands and items on sale! </h1>
        <h2>Stay tuned, coming soon...</h2><br>
    </div>

</div>

<!-- Coming Soon Plugin -->
<div align="center" class="row">
    <div class="col-md-12 coming-soon-plugin">
        <div id="defaultCountdown"></div>
    </div>
</div>


<!-- Brand Search Input -->
<br>
<br>
<h2 xmlns="http://www.w3.org/1999/html">Until then explore brands from various online shops</h2>
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
    <p>
        Search for your favorite brands and see what they have to offer:
    </p>
    <!--  Search input form -->
    <div class="input-group col-md-12 col-xs-12" style="float: left; margin: 10px;">
        <input id="search_brand" name="search_brand" type="text" class="form-control" placeholder="Search for brands ...">
        <span class="input-group-btn">
            <button id="search_button_brand" name="search_button_brand" class="btn-u" type="button"><i class="fa fa-search"></i></button>
        </span>
    </div>
    <p>
        &nbsp;
    </p>
</div>

<!--=== Brand Search Results ===-->
<div id="brand-result" class="container s-results margin-bottom-50">
    <span id="results-number" class="results-number">0 results</span>

    <!--- Search results are populated here -->
</div>

}
<!-- end of common main section -->

<script type="text/javascript" src="@assets.path("javascripts/brands.js")"></script>

<script type="text/javascript" src="@assets.path("unify/assets/plugins/countdown/jquery.countdown.js")"></script>
<script type="text/javascript">
    $(function () {
        var austDay = new Date();
        austDay = new Date(austDay.getFullYear(), 8, 10);
        $('#defaultCountdown').countdown({until: austDay});
        $('#year').text(austDay.getFullYear());
    });
</script>