@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

<!-- include best product search page from react app -->
<!--http://localhost:3000/#/best or https://dev.velocorner.com/#/best -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.3.2/iframeResizer.js"></script>
<iframe id="productsFrame" src="https://dev.velocorner.com/#/best" style="width:1px; min-width:100%; border-width: 0px;" allowtransparency="true"></iframe>
<script>
  iFrameResize({ log: false }, '#productsFrame')
</script>

}
<!-- end of common main section -->