
<script type="text/javascript" src="@routes.ExternalAssets.at("assets/plugins/jquery/jquery.min.js")"></script>

<script type="text/javascript">//<![CDATA[

$(function () {
    var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: 'chart_container',
            type: 'spline'
        },
        title: {
            text: 'Yearly Distance'
        },
        subtitle: {
            text: 'Irregular time data in Highcharts JS'
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Distance (km)'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
        },

        series: [{
            name: '2012',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
                [Date.UTC(2014,  0, 27), 34   ],
                [Date.UTC(2014,  1, 10), 50 ],
                [Date.UTC(2014,  1, 18), 80 ],
                [Date.UTC(2014,  2,  2), 101 ],
                [Date.UTC(2014,  2,  9), 123 ],
                [Date.UTC(2014,  2, 16), 150 ],
                [Date.UTC(2014,  2, 28), 175],
                [Date.UTC(2014,  3,  1), 210],
                [Date.UTC(2014,  3,  8), 244],
                [Date.UTC(2014,  3, 12), 310],
                [Date.UTC(2014,  3, 27), 1.84],
                [Date.UTC(2014,  4, 10), 1.80],
                [Date.UTC(2014,  5, 18), 1.80],
                [Date.UTC(2014,  7, 24), 1.92],
                [Date.UTC(2014,  7,  4), 2.49],
                [Date.UTC(2014,  7, 11), 2.79],
                [Date.UTC(2014,  8, 15), 2.73],
                [Date.UTC(2014,  8, 25), 2.61],
                [Date.UTC(2014,  9,  2), 2.76],
                [Date.UTC(2014,  9,  6), 2.82],
                [Date.UTC(2014, 10, 13), 2.8 ],
                [Date.UTC(2014, 10,  3), 2.1 ],
                [Date.UTC(2014, 11, 26), 1.1 ],
                [Date.UTC(2014, 11,  9), 0.25],
                [Date.UTC(2014, 11, 12), 0   ]
            ]
        }, {
            name: '2013',
            data: [
                [Date.UTC(2014,  9, 18), 0   ],
                [Date.UTC(2014,  9, 26), 0.2 ],
                [Date.UTC(2014, 11,  1), 0.47],
                [Date.UTC(2014, 11, 11), 0.55],
                [Date.UTC(2014, 11, 25), 1.38],
                [Date.UTC(2014,  0,  8), 1.38],
                [Date.UTC(2014,  0, 15), 1.38],
                [Date.UTC(2014,  1,  1), 1.38],
                [Date.UTC(2014,  1,  8), 1.48],
                [Date.UTC(2014,  1, 21), 1.5 ],
                [Date.UTC(2014,  2, 12), 1.89],
                [Date.UTC(2014,  2, 25), 2.0 ],
                [Date.UTC(2014,  3,  4), 1.94],
                [Date.UTC(2014,  3,  9), 1.91],
                [Date.UTC(2014,  3, 13), 1.75],
                [Date.UTC(2014,  3, 19), 1.6 ],
                [Date.UTC(2014,  4, 25), 0.6 ],
                [Date.UTC(2014,  4, 31), 0.35],
                [Date.UTC(2014,  5,  7), 0   ]
            ]
        }, {
            name: '2014',
            data: [
                [Date.UTC(2014,  9,  9), 0   ],
                [Date.UTC(2014,  9, 14), 0.15],
                [Date.UTC(2014, 10, 28), 0.35],
                [Date.UTC(2014, 11, 12), 0.46],
                [Date.UTC(2014,  0,  1), 0.59],
                [Date.UTC(2014,  0, 24), 0.58],
                [Date.UTC(2014,  1,  1), 0.62],
                [Date.UTC(2014,  1,  7), 0.65],
                [Date.UTC(2014,  1, 23), 0.77],
                [Date.UTC(2014,  2,  8), 0.77],
                [Date.UTC(2014,  2, 14), 0.79],
                [Date.UTC(2014,  2, 24), 0.86],
                [Date.UTC(2014,  3,  4), 0.8 ],
                [Date.UTC(2014,  3, 18), 0.94],
                [Date.UTC(2014,  3, 24), 0.9 ],
                [Date.UTC(2014,  4, 16), 0.39],
                [Date.UTC(2014,  4, 21), 0   ]
            ]
        }]

    });
});

//]]>

</script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/highcharts/highcharts.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/highcharts/modules/exporting.js")"></script>


<div id="chart_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

