@(context: PageContext)(implicit request: play.api.mvc.Request[Any], assets: AssetsFinder)
@common.main(context) {

    @widget.weather(context)

    @if(context.isWithingsEnabled) {
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <a href="@controllers.auth.routes.WithingsController.login(request.host)">
                <img src="@assets.path("images/connect-with-withings.png")" style="box-shadow: 1px 1px 15px 1px rgba(13,13,18,0.16);" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </a>
            &nbsp;Login with your Withings account, you will be able to see your year to date measures.
        </div>
    }

    @context.account.map { user =>
        <div class="tag-box">
            <div class="tab-v1" style="margin-bottom:20px;">
                <ul id="activity-tabs" class="nav nav-tabs">
                    <li class="active"><a href="#ride" data-toggle="tab">Ride</a></li>
                </ul>
            </div>

            @widget.profile(user, "/api/athletes/statistics/profile", "/api/athletes/statistics/achievements")

            <div class="headline"><h2>Yearly Activities</h2></div>
            @widget.ajaxsplinechart("yearlyChart", "Yearly Heatmap", "km", 2, "/api/athletes/statistics/yearly/heatmap")
            <div class="row">
                <div class="col-md-4 md-margin-bottom-50">
                    @widget.ajaxbarchart("ytdDistance", "Year To Date Distance", "km", "/api/athletes/statistics/ytd/distance")
                </div>
                <div class="col-md-8 md-margin-bottom-50">
                    @widget.ajaxsplinechart("yearlyDistance", "Yearly Distance", "km", 100, "/api/athletes/statistics/yearly/distance")
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 md-margin-bottom-50">
                    @widget.ajaxbarchart("ytdElevation", "Year To Date Elevation", "meter", "/api/athletes/statistics/ytd/elevation")
                </div>
                <div class="col-md-8 md-margin-bottom-50">
                    @widget.ajaxsplinechart("yearlyElevation", "Yearly Elevation", "meter", 100, "/api/athletes/statistics/yearly/elevation")
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 md-margin-bottom-50">
                    @widget.heatmap("distanceHistogram", "Activity Distribution for Distance", "/api/athletes/statistics/histogram/distance")
                </div>
                <div class="col-md-6 md-margin-bottom-50">
                    @widget.heatmap("elevationHistogram", "Activity Distribution for Elevation", "/api/athletes/statistics/histogram/elevation")
                </div>
            </div>
        </div>
    }

    @if(context.account.isEmpty) {
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <a href="@controllers.auth.routes.StravaController.login(request.host)">
                <img src="@assets.path("images/connect-with-strava.png")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </a>
            &nbsp;Login with your Strava account, you will be able to see your yearly progress and various statistics.
            <img src="@assets.path("images/yearly-heatmap200.png")" alt="Heatmap">
        </div>

        <div class="tag-box">
        </div>
    }

}
<!-- end of common main section -->

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/waypoints.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/jquery.counterup.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/circles-master/circles.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/js/plugins/circles-master.js")"></script>
<script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
        @if(context.account.nonEmpty) {
            setupTabs();
        }
        setupWebSocket();
    });

    function setupTabs() {
        let activityType = "Ride";
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/activities/type",
            timeout: 20000,
            success: function(data) {
                console.log("activity types: " + data);
                let activityTabs = $("#activity-tabs")
                activityTabs.empty();
                // add Ride as main and active at the beginning
                activityTabs.append('<li class="active"><a href="Ride" data-toggle="tab">Ride</a></li>');
                // Remove Ride from the incoming list and attach the activities
                let notRides = data.filter(function(activity) {
                    return activity != "Ride";
                });
                $.each(notRides, function(ix, activity) {
                    activityTabs.append('<li><a href='+activity+' data-toggle="tab">' + activity + '</a></li>');
                });

                $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                    // activated tab
                    activityType = $(e.target).attr("href");
                    console.log("tab selected: " + activityType);

                    // dispatch event and handle it in the components
                    activityTabs.context.dispatchEvent(new CustomEvent("activityType", {
                        detail: {
                            activityType: activityType
                        },
                        bubbles: true
                    }));
                });
           }
        });
    }

    function setupWebSocket() {
        websocket = new WebSocket('ws://' + window.location.host + '/ws');
        websocket.onopen = function(evt) { onOpen(evt) };
        websocket.onclose = function(evt) { onClose(evt) };
        websocket.onmessage = function(evt) { onMessage(evt) };
        websocket.onerror = function(evt) { onError(evt) };
    }

    function onOpen(evt) {
        console.log('CONNECTED ' + evt);
    }

    function onClose(evt) {
        console.log('DISCONNECTED ' + evt);
    }

    function onMessage(evt) {
        console.log('RESPONSE: ' + evt.data);
    }

    function onError(evt) {
        console.log('ERROR: ' + evt.data);
    }

//]]>
</script>
