@(context: PageContext)(implicit request: play.api.mvc.Request[Any], assets: AssetsFinder)

@common.main("Home") {

    @context.account.map { user =>
        <div class="tag-box">
            @widget.profile(user, "/rest/athlete/statistics")

            <div class="headline"><h2>Yearly Activities</h2></div>
            @widget.ajaxchart("yearlyChart", "Yearly Heatmap", "/rest/athlete/yearly/heatmap")
            @widget.ajaxchart("yearlyProgress", "Yearly Distance", "/rest/athlete/yearly/distance")
            @widget.ajaxchart("yearlyElevation", "Yearly Elevation", "/rest/athlete/yearly/elevation")
        </div>
    }

    @if(context.account.isEmpty) {
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <a href="@controllers.auth.routes.AuthController.login(request.host)">
            <img src=""><img src="@assets.path("images/connect-with-strava.png")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </a>
            Login with your Strava account, you will be able to see your yearly progress and various statistics.
            <img src="@assets.path("images/yearly-heatmap200.png")" alt="Heatmap">
        </div>
    }

    <div class="tag-box">
        <div class="headline"><h2>Recent Club Progress</h2></div>
        <div class="row">
            <div class="col-md-6 md-margin-bottom-50" style="padding-left: 0;">
                @widget.ajaxchart("recentClubDistance", "Distance", "/rest/club/distance")
            </div>
            <div class="col-md-6 md-margin-bottom-50" style="padding-right: 0;">
                @widget.ajaxchart("recentClubElevation", "Elevation", "/rest/club/elevation")
            </div>
        </div>
    </div>

}
<!-- end of common main section -->

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/waypoints.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/jquery.counterup.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/circles-master/circles.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/js/plugins/circles-master.js")"></script>
