@(context: PageContext)(implicit request: play.api.mvc.Request[Any], assets: AssetsFinder)
@common.main(context) {

    @if(context.isWeatherEnabled) {
        @widget.weather("Zurich, CH", "/api/weather")
    }

    @if(context.isWithingsEnabled) {
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <a href="@controllers.auth.routes.WithingsController.login(request.host)">
                <img src="@assets.path("images/connect-with-withings.png")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </a>
            Login with your Withings account, you will be able to see your year to date measures.
        </div>
    }

    @context.account.map { user =>
        <div class="tag-box">
            @widget.profile(user, "/api/athletes/statistics")

            <div class="headline"><h2>Yearly Activities</h2></div>
            @widget.ajaxsplinechart("yearlyChart", "Yearly Heatmap", "km", "/api/athletes/statistics/yearly/heatmap")
            <div class="row">
                <div class="col-md-4 md-margin-bottom-50">
                    @widget.ajaxbarchart("ytdDistance", "Year To Date Distance", "km", "/api/athletes/statistics/ytd/distance")
                </div>
                <div class="col-md-8 md-margin-bottom-50">
                    @widget.ajaxsplinechart("yearlyDistance", "Yearly Distance", "km", "/api/athletes/statistics/yearly/distance")
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 md-margin-bottom-50">
                    @widget.ajaxbarchart("ytdElevation", "Year To Date Elevation", "meter", "/api/athletes/statistics/ytd/elevation")
                </div>
                <div class="col-md-8 md-margin-bottom-50">
                    @widget.ajaxsplinechart("yearlyElevation", "Yearly Elevation", "meter", "/api/athletes/statistics/yearly/elevation")
                </div>
            </div>
        </div>
    }

    @if(context.account.isEmpty) {
        <div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
            <a href="@controllers.auth.routes.StravaController.login(request.host)">
                <img src="@assets.path("images/connect-with-strava.png")" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
            </a>
            Login with your Strava account, you will be able to see your yearly progress and various statistics.
            <img src="@assets.path("images/yearly-heatmap200.png")" alt="Heatmap">
        </div>

        <div class="tag-box">
        </div>
    }

}
<!-- end of common main section -->

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/waypoints.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/counter/jquery.counterup.min.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/plugins/circles-master/circles.js")"></script>
<script type="text/javascript" src="@assets.path("unify/assets/js/plugins/circles-master.js")"></script>
<script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
        websocket = new WebSocket('ws://' + window.location.host + '/ws');
        websocket.onopen = function(evt) { onOpen(evt) };
        websocket.onclose = function(evt) { onClose(evt) };
        websocket.onmessage = function(evt) { onMessage(evt) };
        websocket.onerror = function(evt) { onError(evt) };
    });

    function onOpen(evt) {
        console.log('CONNECTED ' + evt);
    }

    function onClose(evt) {
        console.log('DISCONNECTED ' + evt);
    }

    function onMessage(evt) {
        console.log('RESPONSE: ' + evt.data);
    }

    function onError(evt) {
        console.log('ERROR: ' + evt.data);
    }

//]]>
</script>
