@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

    <h1 xmlns="http://www.w3.org/1999/html">Explore</h1>
    <div class="VC_map tag-box tag-box-v2 box-shadow shadow-effect-1">
        <div id="map-div">
        </div>
    </div>
}

<!-- end of common main section -->

<script type="text/javascript" src="https://cdn.melown.com/libs/vtsjs/browser/v2/vts-browser.min.js"></script>

<script type="text/javascript">//<![CDATA[
    analytics.page('Map');

    var browser = null;
    var list = null;
    // self executing function
    (function startDemo() {
        // create map in the html div with id 'map-div'
        // parameter 'map' sets path to the map which will be displayed
        // you can create your own map on melown.com
        // position parameter is described in documentation
        // https://github.com/Melown/vts-browser-js/wiki/VTS-Browser-Map-API#position
        browser = vts.browser('map-div', {
            map: 'https://cdn.melown.com/mario/store/melown2015/map-config/melown/VTS-Tutorial-map/mapConfig.json',
            position: ['obj', 15.096869389048662, 49.38435909591623, 'float', 0.00, 0.00, -90.00, 0.00, 1587848.47, 55.00]
        });

        //check whether browser is supported
        if (!browser) {
            console.log('Your web browser does not support WebGL');
            return;
        }

            // create ui control with info pointers
        var infoPointers = browser.ui.addControl('info-pointers',
            '<div id="distance-div" class="distance-div">' +
            '</div>' +
            '<div id="height-div" class="distance-div">' +
            '</div>' +
            '<div id="height-div2" class="pointer-div2">' +
            '</div>');

        distancePointer = infoPointers.getElement('distance-div');
        heightPointer = infoPointers.getElement('height-div');
        heightPointer2 = infoPointers.getElement('height-div2');

        var profilePanel = browser.ui.addControl('profile-panel',
            '<div id="profile-div" class="profile-div">' +
                '<div id="profile-canvas-holder" class="profile-canvas-holder">' +
                    '<canvas id="profile-canvas" class="profile-canvas">' +
                    '</canvas>' +
                    '<div id="profile-link" class="profile-link">' +
                        'or you can try this <a id="profile-link-a" href="#">example track</a>' +
                    '</div>' +
                '</div>' +
            '</div>');


        renderer = browser.renderer;

        //add mouse events to map element
        var mapElement = browser.ui.getMapElement();
        mapElement.on('mousemove', onMouseMove);
        mapElement.on('mouseleave', onMouseLeave);
        mapElement.on('dragover', onDragover);
        mapElement.on('drop', onDrop);
        mapElement.on('resize', onResize, window);

        canvas = profilePanel.getElement('profile-canvas');
        canvas.on('mousemove', onCanvasHover);
        canvas.on('dragover', onDragover);
        canvas.on('drop', onDrop);
        canvasCtx = canvas.getElement().getContext("2d");
        drawCanvasMessage('Drop a GPX file here')

        profileLink = profilePanel.getElement('profile-link');
        profileLink.on('dragover', onDragover);
        profileLink.on('drop', onDrop);

        //add click event to the link
        profilePanel.getElement('profile-link-a').on('click', loadExampleTrack);

        //callback once is map config loaded
        browser.on('map-loaded', onMapLoaded);

        //callback when path hovered
        browser.on('geo-feature-hover', onFeatureHover);

        loadTexture();
    })();

    function onMouseMove(event) {
        if (map) {
            var coords = event.getMouseCoords();
            usedMouseCoords = coords;
            //set map to hover cusor over provided coordinates permanently
            map.hover(coords[0], coords[1], true);
        }
    }

    function onMouseLeave(event) {
        if (map) {
            var coords = event.getMouseCoords();
            //stop cursor hovering
            map.hover(coords[0], coords[1], false);
        }
    };

    function onDragover(event) {
        var e = event.event;
        e.stopPropagation();
        e.preventDefault();
        e.dataTransfer.dropEffect = 'copy';
    };

    function onDrop(event) {
        var e = event.event;
        e.stopPropagation();
        e.preventDefault();

        var files = e.dataTransfer.files;

        for (var i = 0; i < files.length; i++) {
            var reader = new FileReader();

            reader.onloadend = function (event) {
                var parser = new DOMParser();
                var data = parser.parseFromString(event.target.result, 'text/xml');
                loadGPX(data);
            };

            reader.readAsText(files[i], 'text/plain');
        }
    }

    function loadTexture() {
        //load icon used for displaying path point
        var demoImage = vts.utils.loadImage(
            'http://maps.google.com/mapfiles/kml/shapes/placemark_circle.png',
            (function(){
                demoTexture = renderer.createTexture({ source: demoImage });
            }));
    }

    //add render slot for dynamic rendering
    function onMapLoaded() {
        map = browser.map;
        map.addRenderSlot('custom-render', onCustomRender, true);
        map.moveRenderSlotAfter('after-map-render', 'custom-render');
    }

//]]>
</script>
