@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

<h1 xmlns="http://www.w3.org/1999/html">Privacy Policy</h1>
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
    <h3>Introduction</h3>
    <p>
        This Privacy Policy describes how your personal information is collected, used, and shared when you use our
        cycling data tracking hobby project, which utilizes GPX files and integrates with the Strava API.
    </p>
    <h3>Information We Collect</h3>
    <p>
        GPX Files

        When you upload GPX files, we collect:

        Route information

        GPS coordinates

        Time stamps

        Elevation data

        Strava Integration

        When you connect your Strava account, we access:

        Profile information (name, profile picture)

        Cycling activity details (routes, distances, durations, timestamps)

        We do not store your Strava login credentials.
    </p>
</div>
<h2>How We Use Your Information</h2>
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
    <p>
        We use the collected data to:

        Provide insights into your cycling activities

        Visualize your cycling routes and performance

        Improve our hobby project features and functionality

        Sharing Your Information

        We do not share your personal data with third parties, except:

        To comply with legal obligations

        To enforce our policies or protect our rights

        Your data from Strava and GPX files is never sold or distributed for commercial purposes.
    </p>
    <h3> Data Security</h3>
    <p>

        We take reasonable measures to protect your data from unauthorized access or disclosure. However, as this is a
        hobby project, please avoid uploading sensitive or highly confidential information.

    </p>
    <h3>Your Rights</h3>
    <p>
        You can:

        Request access to your personal data

        Request deletion or correction of your data

        Disconnect your Strava account at any time
    </p>
</div>

<h2>Changes to This Policy</h2>
<div class="tag-box tag-box-v2 box-shadow">
    <p>
        We may update this Privacy Policy occasionally. Any changes will be posted on this page with an updated revision
        date.
    </p>
</div>
}
