@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

    <div align="center" class="row">
        <div class="col-md-12 coming-soon">
            <h1>Find the best price for bikes, components, accessories, clothing, items on sale! </h1>
            <h2>Stay tuned, coming soon...</h2><br>
        </div>

    </div>

    <!-- Coming Soon Plugin -->
    <div align="center" class="row">
        <div class="col-md-12 coming-soon-plugin">
            <div id="defaultCountdown"></div>
        </div>
    </div>

}
<!-- end of common main section -->

<script type="text/javascript" src="@assets.path("unify/assets/plugins/countdown/jquery.countdown.js")"></script>

<script type="text/javascript">
    $(function () {
        var austDay = new Date();
        austDay = new Date(austDay.getFullYear(), 6, 18);
        $('#defaultCountdown').countdown({until: austDay});
        $('#year').text(austDay.getFullYear());
    });
</script>