@(context: PageContext)(implicit assets: AssetsFinder)
@common.main(context) {

<!--=== Search Results ===-->
<div class="container s-results margin-bottom-50">

    <div id="activity-progressbar" class="progress progress-striped active">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            50% Searching...
        </div>
    </div>

    <span class="results-number">About 384,907 results</span>

    <!-- Begin Table Search v1 -->
    <div class="table-search-v1 margin-bottom-30">
        <div class="table-responsive">
            <table id="activity-result" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Product Name</th>
                    <th class="hidden-sm">Product description</th>
                    <th>Headquarters</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Contacts</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="#">HP Enterprise Service</a>
                        <ul class="list-inline star-vote">
                            <li><i class="color-green fa fa-star"></i></li>
                            <li><i class="color-green fa fa-star"></i></li>
                            <li><i class="color-green fa fa-star"></i></li>
                            <li><i class="color-green fa fa-star-half-o"></i></li>
                            <li><i class="color-green fa fa-star-o"></i></li>
                        </ul>
                    </td>
                    <td class="td-width">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor arcu vel fringilla tincidunt.</td>
                    <td>
                        <div class="m-marker">
                            <a href="#"><i class="color-green fa fa-map-marker"></i></a>
                            <a class="display-b" href="#">USA</a>
                            <a href="#">Palo Alto,</a>
                            <a href="#">CA</a>
                        </div>
                    </td>
                    <td>
                        <div class="progress progress-u progress-xxs">
                            <div style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar" class="progress-bar progress-bar-u">
                            </div>
                        </div>
                    </td>
                    <td><button class="btn btn-block btn-info btn-xs"><i class="icon-graph"></i> High</button></td>
                    <td>
                        <span>1(123) 456</span>
                        <span><a href="#">example.com</a></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="margin-bottom-30"></div>

    <div class="text-left">
        <ul class="pagination">
            <li><a href="#">«</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">157</a></li>
            <li><a href="#">158</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div><!--/container-->
<!--=== End Search Results ===-->

}
