@(chartId: String, chartTitle: String, restUrl: String)

<script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/jquery/jquery.min.js")"></script>

<script type="text/javascript">//<![CDATA[


$(function () {
    var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: '@chartId',
            type: 'spline',
            options3d: {
                enabled: true,
                alpha: 45,
            },
            zoomType: 'x',
            backgroundColor: '#FFFADE',
            borderRadius: 20
        },
        title: {
            text: '@chartTitle'
        },
        subtitle: {
            text: ''
        },
        exporting: {
            buttons: {
                contextButtons: {
                    enabled: false,
                    menuItems: null
                }
            },
            enabled: false
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: '@chartTitle'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} km'
        },
        series: []
    });

    chart.showLoading('Loading @chartTitle Data...');
    var fetchStatistics = $.ajax({
        type: "GET",
        url: "@restUrl"
    });
    fetchStatistics.done(function(statisticsData) {
        console.log("got the data for @chartId");
        $.each(statisticsData.series, function(key, value) {
            var series = {name:'', data:[]};
            $.each(value, function(key, val) {
                if (key == 'name') {
                    series.name = val;
                }
                else
                {
                    $.each(val, function(dayKey, entry) {
                        var d = entry.day.split("-");
                        var x = Date.UTC(2016, d[1]-1, d[2]);
                        series.data.push([x, entry.value]);
                    });
                }
            });
            chart.addSeries(series);
        });
        chart.hideLoading();
    });

});

//]]>

</script>

<script type="text/javascript" src="@routes.Assets.at("highcharts/highcharts.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("highcharts/modules/exporting.js")"></script>


<div id="@chartId" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

