@(chartId: String, chartTitle: String, unit: String, restUrl: String, height: Int)(implicit assets: AssetsFinder)

<script type="text/javascript" src="@assets.path("unify/assets/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript">//<![CDATA[
$(function () {
    var chart = new Highcharts.Chart({
        chart: {
            renderTo: '@chartId',
            type: 'bar',
            options3d: {
                enabled: true,
                alpha: 45,
            },
            zoomType: 'x',
            backgroundColor: '#FFFADE',
            borderRadius: 20
        },
        title: {
            text: '@chartTitle'
        },
        credits: {
            enabled: false
        },
        exporting: {
            buttons: {
                contextButtons: {
                    enabled: false,
                    menuItems: null
                }
            },
            enabled: false
        },
        xAxis: {
            categories: []
        },
        yAxis: {
            min: 0,
            title: {
                text: '@unit',
                align: 'middle'
            },
            labels: {
                overflow: 'justify'
            }
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            }
        },
        legend: {
            layout: 'vertical',
            floating: true,
            backgroundColor: '#FFFFFF',
            align: 'right',
            verticalAlign: 'top',
            y: 60,
            x: -60
        },
        tooltip: {
            formatter: function() {
                return '<b>' + this.x + '</b>: ' + Highcharts.numberFormat(this.y, 2) + ' @unit';
            }
        },
        series: []
    });

    function loadBarChart(activityType) {
        chart.showLoading('Loading @chartTitle Data...');
        var fetchStatistics = $.ajax({
            type: "GET",
            url: "@restUrl/" + activityType,
            timeout: 20000
        });
        fetchStatistics.done(function(statisticsData) {
            console.log("got the data for @chartId");
            while (chart.series.length > 0) {
                chart.series[0].remove(true);
            }
            // add new data
            var data = statisticsData.series.map(item => item.series[0].value);
            var names = statisticsData.series.map(item => item.name);
            chart.addSeries({
                name: 'Years',
                dataLabels: {
                    formatter: function() {
                        return '<b>' + Highcharts.numberFormat(this.y, 2) + '</b> @unit';
                    }
                },
                showInLegend: false,
                colorByPoint: true,
                data: data
            });
            chart.xAxis[0].setCategories(names);

            chart.hideLoading();
            chart.chartBackground.attr({
                fill: '#FFFFFF'
            });
        });
    }

    loadBarChart("Ride");

    // reload when activity type is changing
    let activityTabs = $("#activity-tabs")
    activityTabs.context.addEventListener('activityType', function(e) {
        let activityType = e.detail.activityType;
        console.log("bar chart[@chartId] event: " + activityType);
        loadBarChart(activityType);
    }, false);
});
//]]>
</script>

<div id="@chartId" style="min-width: 260px; height: @{height}px; margin: 0 auto"></div>

