
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">//<![CDATA[

    google.load("visualization", "1.1", {packages:["calendar"]});
    google.setOnLoadCallback(drawChart);

    function drawChart() {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
       dataTable.addRows([
          [ new Date(2012, 3, 13), 32 ],
          [ new Date(2012, 3, 14), 24 ],
          [ new Date(2012, 3, 15), 24 ],
          [ new Date(2012, 3, 16), 108 ],
          [ new Date(2012, 3, 17), 29 ],
          // Many rows omitted for brevity.
          [ new Date(2013, 9, 4), 77 ],
          [ new Date(2013, 9, 5), 105 ],
          [ new Date(2013, 9, 12), 10 ],
          [ new Date(2013, 9, 13), 29 ],
          [ new Date(2013, 9, 19), 23 ],
          [ new Date(2013, 9, 23), 45 ],
          [ new Date(2013, 9, 24), 36 ],
          [ new Date(2013, 9, 30), 47 ]
        ]);

       var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

       var options = {
         title: "Activities",
         height: 350,
         calendar: { cellSize: 15 },
       };

       chart.draw(dataTable, options);
    }


//]]>

</script>

<div id="calendar_basic" style="height: 350px;"></div>
