@(unitName: String, restUrl: String, maxMonths: Int)(implicit assets: AssetsFinder)

<div id="cal-heatmap"></div>

<script type="text/javascript">//<![CDATA[
	var parseDailySeries = function(data) {
	    var stats = {};
        for (var d in data) {
            var date = moment(data[d].day) / 1000;
            stats[date] = Number.parseFloat(data[d].value.toFixed(2));
        }
        return stats;
	};

	function responsiveCal(options) {
        var now = new Date();
        if ($(window).width() < 420) {
            console.log("resizing 420");
            options.start = now;
            options.range = 1;
            options.cellSize = 25;
        } else if ($(window).width() < 730) {
            console.log("resizing 730");
            options.start = now.setMonth(now.getMonth() - 2);
            options.range = 3;
            options.cellSize = 18;
        } else if ($(window).width() < 1400) {
            console.log("resizing 1400");
            options.start = now.setMonth(now.getMonth() - 4);
            options.range = 5;
            options.cellSize = 22;
        } else {
            console.log("resizing default");
            options.start = now.setMonth(now.getMonth() - @maxMonths + 1);
            options.range = @maxMonths;
            options.cellSize = 14;
        }
        console.log("calendar starts from " + options.start);

        if (typeof cal === "object") {
            $('#cal-heatmap').html('');
            cal = cal.destroy();
        }
        cal = new CalHeatMap();
        cal.init(options);
    };

    var calOptions = {
	    domain: "month",
	    subDomain: "day",
	    itemName: ["@unitName", "@unitName"],
	    subDomainTextFormat: "%d",
	    tooltip: true,
	    displayLegend: false,
	    data: "@restUrl",
	    afterLoadData: parseDailySeries
	};

    $(document).ready(function() {
        // load calendar heatmap based on the current window size
        responsiveCal(calOptions);

        // smooth resize binding
        $(window).resize(function() {
            if (this.resizeTO) clearTimeout(this.resizeTO);
            this.resizeTO = setTimeout(function() {
                $(this).trigger('resizeEnd');
            }, 250);
        });
        // resize on resizeEnd function, make responsive calendar
        $(window).bind('resizeEnd', function() {
            responsiveCal(calOptions);
        });
    });
//]]>
</script>
