@(chartId: String, chartTitle: String, progress: List[velocorner.model.YearlyProgress])

<script type="text/javascript" src="@routes.Assets.at("unify/assets/plugins/jquery/jquery.min.js")"></script>

<script type="text/javascript">//<![CDATA[

$(function () {
    var chart;
    chart = new Highcharts.Chart({
        chart: {
            renderTo: '@chartId',
            type: 'spline'
        },
        title: {
            text: '@chartTitle'
        },
        subtitle: {
            text: ''
        },
        exporting: {
            buttons: {
                contextButtons: {
                    enabled: false,
                    menuItems: null
                }
            },
            enabled: false
        },
        credits: {
            enabled: false
        },
        xAxis: {
            type: 'datetime',
            dateTimeLabelFormats: { // don't display the dummy year
                month: '%e. %b',
                year: '%b'
            },
            title: {
                text: 'Date'
            }
        },
        yAxis: {
            title: {
                text: 'Distance (km)'
            },
            min: 0
        },
        tooltip: {
            headerFormat: '<b>{series.name}</b><br>',
            pointFormat: '{point.x:%e. %b}: {point.y:.2f} km'
        },
        series: [
        @for(p <- progress) {
        {
            name: '@p.year',
            // Define the data points. All series have a dummy year
            // of 1970/71 in order to be compared on the same x axis. Note
            // that in JavaScript, months start at 0 for January, 1 for February etc.
            data: [
            @for(d <- p.progress) {
                [Date.UTC(2015, @d.getMonth, @d.getDay), @d.progress.distance ],
            } // end of daily for
            ]
        },
        } // end of for yearly for
        ]

    });
});

//]]>

</script>

<script type="text/javascript" src="@routes.Assets.at("highcharts/highcharts.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("highcharts/modules/exporting.js")"></script>


<div id="@chartId" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

