@(chartId: String, chartTitle: String, restUrl: String)(implicit assets: AssetsFinder)

<div id="@chartId" style="min-width: 260px; margin: 0 auto"></div>

<script type="text/javascript">//<![CDATA[
    var heatmapOption = {
        series: [],
        chart: {
            height: 250,
            type: 'heatmap',
            toolbar: {
                show: false
            }
        },
        title: {
            text: '@chartTitle',
            align: 'center',
        },
        grid: {
            padding: {
                right: 20
            }
        },
        noData: {
            text: 'Loading @chartTitle Data...'
        }
    }
    var chart = new ApexCharts(document.querySelector("#@chartId"), heatmapOption);
    chart.render();

    function loadHistogram(activityType) {
        var fetchStatistics = $.ajax({
            type: "GET",
            url: "@restUrl/" + activityType,
            timeout: 20000
        });
        fetchStatistics.done(function(histogram) {
            console.log("got the data for @chartId");
            chart.updateSeries(histogram);
        });
    }

    loadHistogram("Ride");

    // reload when activity type is changing
    let activityTabs = $("#activity-tabs")
    activityTabs.context.addEventListener('activityType', function(e) {
        let activityType = e.detail.activityType;
        console.log("histogram chart[@chartId] event: " + activityType);
        loadHistogram(activityType);
    }, false);
//]]>

</script>



