@(account: velocorner.model.Account, urlProgress: String, urlAchievements: String)(implicit assets: AssetsFinder)

<!-- Profile and Counters -->
<div class="main-counters margin-bottom-20">

    <div class="headline"><h2>Athlete Profile</h2></div>

    <div class="row">

        <div class="col-sm-4 col-mprepare refresh amd d-4 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-red">
                <div class="row">
                    <div class="col-md-8 funny-boxes-img">
                        <h2>Hello, @account.displayName</h2>
                        <img class="img-responsive img-circle VC_img_shadow" src="@account.avatarUrl" alt="">
                        <ul class="list-unstyled">
                            <li><i class="fa-fw fa fa-map-marker"></i> @account.displayLocation</li>
                            <li><i class="fa-fw fa fa-history"></i> Last refresh: @account.lastUpdate.map(u => org.joda.time.format.DateTimeFormat.forPattern("yyyy-MM-dd HH:MM").print(u)).getOrElse("not yet")</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p>
                            <button id="refresh" class="btn-u rounded btn-block btn-u-orange" type="button" onclick="window.location.href = '/refresh';"><i class="fa fa-refresh"></i> Refresh</button>
                            <button id="logout" class="btn-u rounded btn-block btn-u-orange" type="button" onclick="window.location.href = '/logout/strava';"><i class="fa fa-sign-out"></i> Logout</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-5 col-mprepare refresh amd d-6 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-sea" style="padding-top: 8px; padding-bottom:0px;">
                <div class="row" style="padding-left:20px;"><i class="fa fa-calendar rounded"></i> @(org.joda.time.LocalDate.now().getYear()) Year to date</div>
                <div class="row">
                    <div class="counters col-md-3 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-bicycle rounded"></i></span>
                        <span id="profile-rides" class="counter">0</span>
                        <h4>Rides</h4>
                    </div>
                    <div class="counters col-md-3 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-globe rounded"></i></span>
                        <span id="profile-distance" class="counter">0</span>km
                        <h4>Distance</h4>
                    </div>
                    <div class="counters col-md-3 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-rocket rounded"></i></span>
                        <span id="profile-elevation" class="counter">0</span>m
                        <h4>Elevation</h4>
                    </div>
                    <div class="counters col-md-3 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-clock-o rounded"></i></span>
                        <span id="profile-hours" class="counter">0</span>h
                        <h4>Hours</h4>
                    </div>
                </div>
                <div class="row" style="padding-left:20px; padding-right:20px;"><i class="fa fa-line-chart rounded"></i><span> Estimate until end of year</span>
                    <div class="progress progress-u progress-xs">
                        <div class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="88" aria-valuemin="0" aria-valuemax="100" style="width: 88%"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <h3 class="heading-xs" style="text-align: center; margin-top:1px;">0</h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="heading-xs" style="text-align: center; margin-top:1px;">5600<span style="font-size: 0.7em;">km</span></h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="heading-xs" style="text-align: center; margin-top:1px;">121000<span style="font-size: 0.7em;">m</span></h3>
                    </div>
                    <div class="col-md-3">
                        <h3 class="heading-xs" style="text-align: center; margin-top:1px;">500<span style="font-size: 0.7em;">h</span></h3>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3 col-mprepare refresh amd d-6 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-yellow" style="padding-top: 8px;">
                <div class="row"><h4><i class="fa fa-trophy rounded"></i> Achievements</h4></div>
                <div class="row" style="height:132px; overflow-y: scroll;">
<!--                    <div>Max speed: <a id="achievement-max-speed" href="#">-</a></div>-->
                    <div>Max average speed: <a id="achievement-max-avg-speed" href="#">-</a></div>
                    <div>Longest ride: <a id="achievement-max-distance" href="#">-</a></div>
                    <div>Max elevation gain: <a id="achievement-max-elevation" href="#">-</a></div>
<!--                    <div>Max power: <a id="achievement-max-power" href="#">-</a></div>-->
                    <div>Max average power: <a id="achievement-max-avg-power" href="#">-</a></div>
                    <div>Max heart rate: <a id="achievement-max-hr" href="#">-</a></div>
                    <div>Max average heart rate: <a id="achievement-max-avg-hr" href="#">-</a></div>
<!--                    <div>Hottest ride: </div>-->
<!--                    <div>Coldest ride: </div>-->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- End Counters -->

<script type="text/javascript" src="@assets.path("unify/assets/plugins/jquery/jquery.min.js")"></script>
<script type="text/javascript">//<![CDATA[
    function showEntry(entry, entryName, multiplier, decimalPlaces, unitName) {
        if (entry) {
            let field = $(entryName)
            field.html((entry.value*multiplier).toFixed(decimalPlaces)+' '+unitName)
            field.prop('title', entry.activityName+' at '+moment(entry.activityTime).format('DD MMM, YYYY, ddd HH:mm A'));
            field.prop('href', 'http://www.strava.com/activities/'+entry.activityId);
        }
    }

    $(document).ready(function() {
        // ytd progress
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "@urlProgress",
            timeout: 20000,
            success: function(data) {
                $('#profile-rides').html(data.progress.rides)
                $('#profile-distance').html(Math.round(data.progress.distance))
                $('#profile-elevation').html(Math.round(data.progress.elevation))
                $('#profile-hours').html(Math.round(data.progress.movingTime/3600))
                App.initCounter();
                console.log(data.progress);
           }
        });

        // various achievements
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "@urlAchievements",
            timeout: 20000,
            success: function(data) {
                //showEntry(data.maxSpeed, '#achievement-max-speed', 3.6, 1, 'km/h')
                showEntry(data.maxAverageSpeed, '#achievement-max-avg-speed', 3.6, 1, 'km/h')
                showEntry(data.maxDistance, '#achievement-max-distance', 0.001, 1, 'km')
                showEntry(data.maxElevation, '#achievement-max-elevation', 1, 0, 'm')
                //showEntry(data.maxPower, '#achievement-max-power', 1, 0, 'W')
                showEntry(data.maxAveragePower, '#achievement-max-avg-power', 1, 0, 'W')
                showEntry(data.maxHeartRate, '#achievement-max-hr', 1, 0, 'Bps')
                showEntry(data.maxAverageHeartRate, '#achievement-max-avg-hr', 1, 0, 'Bps')
                console.log(data);
           }
        });
    });
//]]>
</script>