@(account: velocorner.api.Account)(implicit assets: AssetsFinder)

<!-- Profile calendar and counters -->
<div class="main-counters margin-bottom-20">

    <div class="row VC_equal_height">

        <div class="col-sm-4 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-red" style="height: 100%; padding-bottom: 1px;">
                <div class="row">
                    <div class="col-md-8 funny-boxes-img">
                        <h2>Hello, @account.displayName</h2>
                        <img class="img-responsive img-circle VC_img_shadow" src="@account.avatarUrl" alt="">
                        <ul class="list-unstyled">
                            <li><i class="fa-fw fa fa-map-marker"></i> @account.displayLocation</li>
                            <li><i class="fa-fw fa fa-history"></i> Last refresh: @account.lastUpdate.map(u => org.joda.time.format.DateTimeFormat.forPattern("yyyy-MM-dd HH:MM").print(u)).getOrElse("not yet")</li>
                        </ul>
                    </div>
                    <div class="col-md-4 sky-form" style="padding-left: 10px; padding-right: 10px;">
                        <p>
                            <button id="refresh" class="btn-u rounded btn-block btn-u-orange" type="button" onclick="refreshProfile();"><i class="fa fa-refresh"></i> Refresh</button>
                            <button id="logout" class="btn-u rounded btn-block btn-u-orange" type="button" onclick="window.location.href = '/logout/strava';"><i class="fa fa-sign-out"></i> Logout</button>
                            <section style="padding-top: 5px;">
                                <label class="select">
                                    <select id="units-selection">
                                        @if(account.isImperial()) {
                                        <option value="imperial">Imperial</option>
                                        <option value="metric">Metric</option>
                                        } else {
                                        <option value="metric">Metric</option>
                                        <option value="imperial">Imperial</option>
                                        }
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </p>
                    </div>
                </div>
                <div class="row">
                    @widget.wordcloud("/api/activities/wordcloud", 135)
                </div>
            </div>
        </div>


        <div class="col-sm-5 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-sea" style="padding-top: 8px; padding-bottom:5px; padding-left: 5px; padding-right: 5px; height: 100%;">
                <div class="row sky-form">
                    <div class="col-md-6">
                    <section>
                        <label class="select">
                            <select id="activity-years">
                                <option value="@(org.joda.time.LocalDate.now().getYear())">@(org.joda.time.LocalDate.now().getYear())</option>
                            </select>
                            <i></i>
                        </label>
                    </section>
                    </div>
                    <div class="col-md-6">
                        <label class="select">
                        Year To Date
                        </label>
                    </div>
                </div>
                <div class="row" style="padding-left:15px;">
                    <div class="counters col-md-3 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-bicycle rounded"></i></span>
                        <span id="profile-rides" class="counter">0</span>
                        <h4 id="activity-name">Rides</h4>
                    </div>
                    <div class="counters col-md-2 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-globe rounded"></i></span>
                        <span id="profile-distance" class="counter">0</span><span style="font-size: 0.7em;">@account.units().distanceLabel</span>
                        <h4>Distance</h4>
                    </div>
                    <div class="counters col-md-2 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-rocket rounded"></i></span>
                        <span id="profile-elevation" class="counter">0</span><span style="font-size: 0.7em;">@account.units().elevationLabel</span>
                        <h4>Elevation</h4>
                    </div>
                    <div class="counters col-md-2 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-clock-o rounded"></i></span>
                        <span id="profile-hours" class="counter">0</span><span style="font-size: 0.7em;">h</span>
                        <h4>Hours</h4>
                    </div>
                    <div class="counters col-md-2 col-sm-1">
                        <span class="counter-icon"><i class="fa fa-calendar-o rounded"></i></span>
                        <span id="profile-days" class="counter">0</span><span style="font-size: 0.7em;">d</span>
                        <h4>Days</h4>
                    </div>
                </div>

                <div class="row rounded" style="margin-left:5px; margin-right:5px; margin-bottom:5px; background-color:#eeeeee;">
                    <span>&nbsp;</span><i class="fa fa-smile-o rounded"></i><span> Commutes</span>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 VC_profile">
                            <span id="commute-rides" style="text-align: center;">0</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="commute-distance" style="text-align: center;">0</span><span style="font-size: 0.7em;">@account.units().distanceLabel</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="commute-elevation" style="text-align: center;">0</span><span style="font-size: 0.7em;">@account.units().elevationLabel</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="commute-hours" style="text-align: center;">0</span><span style="font-size: 0.7em;">h</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="commute-days" style="text-align: center;">0</span><span style="font-size: 0.7em;">d</span>
                        </div>
                    </div>
                </div>

                <div class="row rounded" style="margin-left:5px; margin-right:5px; margin-bottom:5px; padding-left:20px; padding-right:20px; background-color:#eeeeee;">
                    <div class="row" style="height: 10px;">
                        <div class="progress progress-u progress-xs rounded">
                            <div id="yearlyPercentile" class="progress-bar progress-bar-blue" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                        </div>
                    </div>
                </div>
                <div class="row rounded" style="margin-left:5px; margin-right:5px; margin-bottom:5px; background-color:#eeeeee;">
                    <span>&nbsp;</span><i class="fa fa-line-chart rounded"></i><span> Predicted activities</span>
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3 VC_profile">
                            <span id="estimate-rides" style="text-align: center;">0</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="estimate-distance" style="text-align: center;">0</span><span style="font-size: 0.7em;">@account.units().distanceLabel</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="estimate-elevation" style="text-align: center;">0</span><span style="font-size: 0.7em;">@account.units().elevationLabel</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="estimate-hours" style="text-align: center;">0</span><span style="font-size: 0.7em;">h</span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2 VC_profile">
                            <span id="estimate-days" style="text-align: center;">0</span><span style="font-size: 0.7em;">d</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-3 sm-margin-bottom-40">
            <div class="funny-boxes funny-boxes-top-yellow" style="padding-top: 8px; height: 100%;">
                <div class="row"><h4><i class="fa fa-trophy rounded"></i> Best Achievements</h4></div>
                <div class="row">
                    <div>Max average speed: <a id="achievement-max-avg-speed" href="#">-</a></div>
                    <div>Longest distance: <a id="achievement-max-distance" href="#">-</a></div>
                    <div>Longest activity: <a id="achievement-max-time" href="#">-</a></div>
                    <div>Max elevation gain: <a id="achievement-max-elevation" href="#">-</a></div>
                    <div>Max average power: <a id="achievement-max-avg-power" href="#">-</a></div>
                    <div>Max heart rate: <a id="achievement-max-hr" href="#">-</a></div>
                    <div>Max average heart rate: <a id="achievement-max-avg-hr" href="#">-</a></div>
                    <div>Min average temperature: <a id="achievement-min-avg-temp" href="#">-</a></div>
                    <div>Max average temperature: <a id="achievement-max-avg-temp" href="#">-</a></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-12 sm-margin-bottom-40" style="padding-top: 10px;">
            <div class="funny-boxes funny-boxes-top-sea">
                <div class="row"><h4><i class="fa fa-calendar rounded"></i> Latest Activities</h4></div>
                <div align="center">
                    @widget.calendar(account.units().distanceLabel, "/api/athletes/statistics/daily/distance", 12)
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Counters -->

<script type="text/javascript">//<![CDATA[
    function refreshProfile() {
        analytics.track("Strava Refresh");
        window.location = '/refresh';
    };

    function showEntry(entry, entryName, multiplier, decimalPlaces, unitName) {
        let field = $(entryName)
        if (entry) {
            field.html((entry.value*multiplier).toFixed(decimalPlaces)+' '+unitName)
            field.prop('title', entry.activityName+' at '+moment(entry.activityTime).format('DD MMM, YYYY, ddd HH:mm A'));
            field.prop('href', 'http://www.strava.com/activities/'+entry.activityId);
        } else {
            field.html('-');
            field.prop('href', '#');
        }
    }

    function loadProfile(activityType, year) {
        // ytd progress
        $.ajax({
            type: "GET",
            dataType: "json",
            url: `/api/athletes/statistics/profile/${activityType}/${year}`,
            timeout: 20000,
            success: function(data) {
                $('#activity-name').html(activityType + 's');

                $('#yearlyPercentile').attr('aria-valuenow', data.yearlyPercentile).css("width", data.yearlyPercentile + "%");

                $('#estimate-rides').html(data.estimate.rides);
                $('#estimate-distance').html(Math.round(data.estimate.distance));
                $('#estimate-elevation').html(Math.round(data.estimate.elevation));
                $('#estimate-hours').html(Math.round(data.estimate.movingTime/3600));
                $('#estimate-days').html(data.estimate.days);

                $('#commute-rides').html(data.commute.rides);
                $('#commute-distance').html(Math.round(data.commute.distance));
                $('#commute-elevation').html(Math.round(data.commute.elevation));
                $('#commute-hours').html(Math.round(data.commute.movingTime/3600));
                $('#commute-days').html(data.commute.days);

                $('#profile-rides').html(data.progress.rides);
                $('#profile-distance').html(Math.round(data.progress.distance));
                $('#profile-elevation').html(Math.round(data.progress.elevation));
                $('#profile-hours').html(Math.round(data.progress.movingTime/3600));
                $('#profile-days').html(data.progress.days);
                App.initCounter();
                console.log("yearly progress " + data.yearlyPercentile + "%");
           }
        });

        // various achievements
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/athletes/statistics/achievements/" + activityType,
            timeout: 20000,
            success: function(data) {
                //showEntry(data.maxSpeed, '#achievement-max-speed', 3.6, 1, 'km/h');
                showEntry(data.maxAverageSpeed, '#achievement-max-avg-speed', 3.6, 1, '@account.units().speedLabel');
                showEntry(data.maxDistance, '#achievement-max-distance', 0.001, 1, '@account.units().distanceLabel');
                showEntry(data.maxTimeInSec, '#achievement-max-time', 0.0002777, 1, 'Hours');
                showEntry(data.maxElevation, '#achievement-max-elevation', 1, 0, '@account.units().elevationLabel');
                //showEntry(data.maxPower, '#achievement-max-power', 1, 0, 'W');
                showEntry(data.maxAveragePower, '#achievement-max-avg-power', 1, 0, 'W');
                showEntry(data.maxHeartRate, '#achievement-max-hr', 1, 0, 'Bps');
                showEntry(data.maxAverageHeartRate, '#achievement-max-avg-hr', 1, 0, 'Bps');
                showEntry(data.minAverageTemperature, '#achievement-min-avg-temp', 1, 0, '@account.units().temperatureLabel');
                showEntry(data.maxAverageTemperature, '#achievement-max-avg-temp', 1, 0, '@account.units().temperatureLabel');
           }
        });
    }

    function setupUnits() {
        // store units setup when dropdown value is changed
        let unitsSelection = $("#units-selection");
        unitsSelection.on('change', function() {
            let selectedUnit = unitsSelection.val();
            console.log("selected="+selectedUnit);
            $.ajax({
                type: "PUT",
                dataType: "text",
                url: "api/athletes/units/" + selectedUnit,
                timeout: 20000,
                success: function() {
                    console.log("selected unit has been stored");
                    // reload the page to update the unit of measurement
                    location.reload();
                }
            });
        });
    }

    function setupYears(activityType, currentYear) {
        console.log("years for " + activityType);
        let yearsSelection = $("#activity-years");
        $.ajax({
            type: "GET",
            dataType: "json",
            url: "/api/activities/" + activityType + "/years",
            timeout: 20000,
            success: function(data) {
                console.log("years " + data);
                for (ix in data) {
                    let year = data[ix];
                    if (year === currentYear) {
                        continue;
                    }
                    let entry = document.createElement("option");
                    entry.text = year;
                    entry.value = year;
                    yearsSelection.append(entry);
                }
           }
        });
        yearsSelection.on('change', function() {
            let activityYear = yearsSelection.val();
            let tabs = $(".nav-tabs .active"); // #activity-tabs
            let activityType = tabs.text();
            console.log(`selected[${activityType}]=${activityYear}`);
            loadProfile(activityType, activityYear);
        });
    }

    $(document).ready(function() {
        setupUnits();
        // load default activity profile and years
        let currentYear = new Date().getFullYear();
        setupYears('Ride', currentYear);
        loadProfile('Ride', currentYear);

        // reload when activity type is changing
        let activityTabs = $("#activity-tabs")
        activityTabs.context.addEventListener('activityType', function(e) {
            let activityType = e.detail.activityType;
            let activityYear = $("#activity-years").val();
            console.log(`profile event[${activityType}]=${activityYear}`);
            loadProfile(activityType, activityYear);
        }, false);
    });
//]]>
</script>