@(context: PageContext)(implicit assets: AssetsFinder)

<div class="tag-box tag-box-v2 box-shadow shadow-effect-1" style="background-image: url('@assets.path("images/background/lenzerheide.webp")'); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="row">
        <div class="col-md-12 coming-soon-plugin">
            <h3 class="text-center">Something amazing is coming!</h3>
            <p class="text-center">We're working hard on a completely redesigned and improved experience for you. Shortly, a preview version will be available! Stay tuned!</p>
            <p class="text-center"><strong>Countdown to launch:</strong></p>
            <div id="defaultCountdown" style="font-size: 0.8em; text-align: center;"></div>
            <p class="text-center">
                <button id="preview" class="btn-u rounded btn-u-orange" type="button" onclick="window.location.href='https://dev.velocorner.com';"><i class="fa fa-globe"></i> Preview our new web experience</button>
            </p>
        </div>
    </div>
</div>

<script type="text/javascript" src='@assets.path("unify/assets/plugins/countdown/jquery.countdown.js")'></script>
<script type="text/javascript">
    $(function () {
        launchDay = new Date(2025, 10, 31);
        $('#defaultCountdown').countdown({until: launchDay});
    });
</script>
