@(location: String, restUrl: String)(implicit assets: AssetsFinder)

<!-- Wather widget with 5 days forecast -->
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <span>
                <img style="width: 16px; height:16px;" src="@assets.path("images/icons/sun-64.png")" alt="Forecast">
                Forecast
            </span>
            <div class="input-group animated fadeInDown">
                <input id="weather" name="weather" type="text" value="@location" class="form-control" placeholder="Location">
                <span class="input-group-btn">
                    <button id="weather_button" name="weather_button" class="btn-u rounded btn-block" type="button"><i class="fa fa-refresh"></i> Weather</button>
                </span>
            </div>
            <div id="weather-progress" class="progress progress-striped active">
                <div id="weather-progress-bar" class="progress-bar progress-bar-info"
                     role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Refreshing Weather Forecast ...
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12">
            <div class="row text-center">
                <div>
                    <i class="icon-weather-002" style="font-size: 2em;"></i>
                </div>
                <span style="color: #e74c3c;">20° C</span>
                <span>/</span>
                <span style="color:#3498db;">7° C</span>
                <p class="font-size-14 mb-0">MONDAY 11.11.2017</p>
            </div>
        </div>

        <div class="col-md-7 col-sm-12">

            <div class="row no-space text-center">

                @* 5 days forecast creates 5 boxes for each day *@
                @for(ix <- 1 to 5) {
                <div class="col-md-2">
                    <div class="weather-day vertical-align">
                        <div class="vertical-align-middle font-size-16">
                            <div class="mb-10">TUE</div>
                            <i class="icon-weather-001 font-size-24 mb-10"></i>
                            <div>
                                <span style="color: #e74c3c;">20° C</span>
                                <span>/</span>
                                <span style="color:#3498db;">7° C</span>
                            </div>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>

    </div>
</div>

<script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
        $('#weather_button').click(function() {
            triggerForecast();
        });
        $('#weather').keypress(function(e) {
            if (e.which == 13) {
                triggerForecast()
            }
        });

        $('#weather-progress').fadeOut();
        triggerForecast();
    });

    function triggerForecast() {
        var place = $('#weather').val();
        if (place) {
            console.log('forecast for ' + place);
            weatherForecast(place);
        } else {
            console.log('place is not set for weather forecast');
        }
    }

    function weatherForecast(place) {
        $('#weather-progress').fadeIn();

        var uri = "@restUrl/" + place
        $.ajax({
            type: "GET",
            dataType: "json",
            url: uri,
            timeout: 20000,
            success: function(data) {
                $('#weather-progress').fadeOut();
                console.log("weather forecast " + data);
           }
        });
    }
//]]>
</script>