@(context: PageContext)(implicit assets: AssetsFinder)

<!-- Weather widget with 5 days forecast -->
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1" style="padding-top: 5px; padding-bottom: 5px;">

    <div class="row">
        <div class="col-md-3 col-sm-12">
            <label style="color: #7d1818;">
                <img style="width: 16px; height:16px; margin-bottom: 2px;" width="16" height="16" src="@assets.path("images/icons/sun-64.png")" alt="Forecast">
                Forecast
                <div class="input-group animated fadeInDown">
                    <input id="weather" name="weather" type="text" value="" class="form-control" placeholder="Location">
                    <span class="input-group-btn">
                        <button id="weather_button" name="weather_button" class="btn-u rounded btn-block" type="button" style="background: #5aa01b;"><i class="fa fa-refresh"></i> Weather</button>
                    </span>
                </div>
            </label>
            <div id="weather-progress" class="progress progress-striped active" style="visibility:hidden;">
                <div id="weather-progress-bar" class="progress-bar progress-bar-info"
                     role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Refreshing Weather Forecast ...
                </div>
            </div>

            <div id="sunrise-sunset" style="text-align: center; visibility:hidden;">
                <i class="icon-weather-025 mb-10" style="font-size: 1.5em;"></i>
                <span id="weather-sunrise" style="font-size: 1.8em;"></span> am
                &nbsp;&nbsp;
                <i class="icon-weather-024 mb-10" style="font-size: 1.5em;"></i>
                <span id="weather-sunset" style="font-size: 1.8em;"></span> pm
            </div>

            <div id="temperature" style="visibility:hidden;">
                <div style="text-align:center;">
                    <i id="weather-icon" class="icon-weather-001" data-toggle="weather-tooltip" title="..." style="font-size: 2.5em;"></i>
                    <span id="weather-temperature" data-toggle="weather-tooltip" title="..." style="font-size: 2.8em;"></span>&nbsp;C
                </div>

                <div style="text-align:center;">
                    <i class="icon-weather-047 mb-10" style="font-size: 1.2em;"></i>
                    <span id="weather-temperature-min" style="font-size: 1.5em;"></span>&nbsp;min
                    &nbsp;&nbsp;
                    <i class="icon-weather-044 mb-10" style="font-size: 1.2em;"></i>
                    <span id="weather-temperature-max" style="font-size: 1.5em;"></span>&nbsp;max
                </div>
            </div>
        </div>

        <div class="col-md-9 col-sm-12">
            <div id="weather-container" style="max-width: 800px; min-width: 300px; height: 250px; margin: 0 auto; display: none;">
                <div style="margin-top: 0px; text-align: center" id="loading">
                    <i class="fa fa-spinner fa-spin"></i> Loading meteo data
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="@routes.Assets.at("javascripts/meteogram.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("highcharts/modules/windbarb.src.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("highcharts/modules/pattern-fill.js")"></script>
<script type="text/javascript" src="@assets.path("javascripts/weather.js")"></script>
