@(location: String, restUrl: String)(implicit assets: AssetsFinder)

<!-- Wather widget with 5 days forecast -->
<div class="tag-box tag-box-v2 box-shadow shadow-effect-1">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <span>
                <img style="width: 16px; height:16px;" src="@assets.path("images/icons/sun-64.png")" alt="Forecast">
                Forecast
            </span>
            <div class="input-group animated fadeInDown">
                <input id="weather" name="weather" type="text" value="@location" class="form-control" placeholder="Location">
                <span class="input-group-btn">
                    <button id="weather_button" name="weather_button" class="btn-u rounded btn-block" type="button"><i class="fa fa-refresh"></i> Weather</button>
                </span>
            </div>
            <div id="weather-progress" class="progress progress-striped active">
                <div id="weather-progress-bar" class="progress-bar progress-bar-info"
                     role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                    Refreshing Weather Forecast ...
                </div>
            </div>
        </div>

        <div class="col-md-8 col-sm-12">

            @* 5 days forecast creates 5 boxes for each day *@
            @for(ix <- 0 to 4) {
            <div class="col-md-2 text-center">
                <div class="weather-day vertical-align">
                    <div class="vertical-align-middle font-size-16">
                        <div id="date-@ix" class="mb-10">-</div>
                        <i id="icon-@ix" class="icon-weather-001 mb-10" style="font-size: 2em;"></i>
                        <div>
                            <span id="temp-max-@ix" style="color: #e74c3c;">-</span>°
                            <span>/</span>
                            <span id="temp-min-@ix" style="color:#3498db;">-</span>°
                        </div>
                        <div>
                            <img style="width: 12px; height:12px;" src="@assets.path("images/icons/wind-speed.png")" alt="Wind">
                            <span id="wind-max-@ix" class="font-size-12">-</span>
                            <span style="font-size:8px;">km/h</span>
                        </div>
                    </div>
                </div>
            </div>
            }

        </div>

    </div>
</div>

<script type="text/javascript">//<![CDATA[
    $(document).ready(function() {
        $('#weather_button').click(function() {
            triggerForecast();
        });
        $('#weather').keypress(function(e) {
            if (e.which == 13) {
                triggerForecast()
            }
        });

        $('#weather-progress').fadeOut();
        triggerForecast();
    });

    function triggerForecast() {
        var place = $('#weather').val();
        if (place) {
            console.log('forecast for ' + place);
            weatherForecast(place);
        } else {
            console.log('place is not set for weather forecast');
        }
    }

    function weatherForecast(place) {
        $('#weather-progress').fadeIn();

        var uri = "@restUrl/" + place
        $.ajax({
            type: "GET",
            dataType: "json",
            url: uri,
            timeout: 20000,
            success: function(data) {
                $('#weather-progress').fadeOut();
                console.log("weather forecast with %d items", data.length);
                var weekday = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");
                data.slice(0, 5).forEach(function (item, i) {
                    console.log('%d: %s', i, item.day);
                    var parts = item.day.split('-');
                    var date = new Date(parts[0], parts[1] - 1, parts[2]);
                    var day = weekday[date.getDay()] + " " + parts[2] + "/" + parts[1];

                    $('#date-'+i).html(day);
                    $('#icon-'+i).addClass(item.bootstrapIcon).removeClass('icon-weather-001');
                    $('#temp-min-'+i).html(item.temp_min.toFixed(1));
                    $('#temp-max-'+i).html(item.temp_max.toFixed(1));
                    $('#wind-max-'+i).html(item.wind_max.toFixed(0));
                });
            },
            error: function(xhr, status, error) {
                console.error("failed with " + error);
                $('#weather-progress').fadeOut();
            }
        });
    }
//]]>
</script>