@(restUrl: String, height: Int)(implicit assets: AssetsFinder)

<figure class="highcharts-figure">
    <div id="container-word-cloud" style="margin: 0;"></div>
</figure>

<script type="text/javascript">//<![CDATA[
	function setupWordCloud() {
        var wordCloud = Highcharts.chart('container-word-cloud', {
            accessibility: {
                screenReaderSection: {
                    beforeChartFormat: '<h5>{chartTitle}</h5>>' +
                        '<div>{chartSubtitle}</div>' +
                        '<div>{chartLongdesc}</div>' +
                        '<div>{viewTableButton}</div>'
                }
            },
            chart: {
                height: @height
            },
            series: [{
                type: 'wordcloud',
                rotation: {
                    from: 0,
                    to: 0,
                },
                name: '#',
                minFontSize: 8
            }],
            title: {
                text: ''
            },
            exporting: {
                buttons: {
                    contextButtons: {
                        enabled: false,
                        menuItems: null
                    }
                },
                enabled: false
            },
            credits: {
                enabled: false
            }
        });

        $.ajax({
            type: "GET",
            dataType: "json",
            url: "@restUrl",
            timeout: 20000,
            success: function(words) {
                wordCloud.series[0].setData(words);
            }
        });
    }

    $(document).ready(function() {
        setupWordCloud();
    });
//]]>
</script>
