<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} %coloredLevel [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <logger name="play.shaded.ahc" level="INFO"/>
    <logger name="com.orientechnologies" level="WARN"/>
    <logger name="com.google.inject" level="INFO"/>
    <logger name="com.sun.xml" level="INFO"/>
    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="akka.stream.impl" level="INFO"/>
    <logger name="akka.actor" level="INFO"/>
    <logger name="akka.io" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="unknown.jul.logger" level="WARN"/>

</configuration>