<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%date{ISO8601} %coloredLevel [%-15.15thread]  %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="LOKI" class="com.github.loki4j.logback.Loki4jAppender">
        <labels>
            app = velocorner-web
            host = ${HOSTNAME:-unknown}
            environment = ${LOKI_ENVIRONMENT:-prod}
        </labels>
        <structuredMetadata>
            level = %level
            logger = %logger
            thread = %thread
        </structuredMetadata>
        <message>
            <pattern>%date{ISO8601} %coloredLevel [%-15.15thread]  %logger{36} - %msg%n</pattern>
        </message>
        <http>
            <url>https://logs-prod-039.grafana.net/loki/api/v1/push</url>
            <auth>
                <username>${LOKI_USERNAME:-}</username>
                <password>${LOKI_PASSWORD:-}</password>
            </auth>
            <requestTimeoutMs>15000</requestTimeoutMs>
        </http>
        <batch>
            <maxItems>1000</maxItems>
            <maxBytes>65536</maxBytes>
            <timeoutMs>60000</timeoutMs>
        </batch>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />

        <if condition='p("log.mode").contains("loki") || p("log.mode").contains("grafana")'>
        <then>
            <appender-ref ref="LOKI" />
        </then>
        </if>
    </root>

    <logger name="play.shaded.ahc.org" level="INFO"/>
    <logger name="play.shaded.ahc.io" level="INFO"/>
    <logger name="play.shaded.ahc.org.asynchttpclient.netty.channel" level="WARN"/>
    <logger name="play.core.cookie.encoding" level="WARN"/>
    <logger name="com.orientechnologies" level="WARN"/>
    <logger name="com.google.inject" level="INFO"/>
    <logger name="com.sun.xml" level="INFO"/>
    <logger name="org.asynchttpclient" level="INFO"/>
    <logger name="javax.management" level="INFO"/>
    <logger name="net.sf.ehcache" level="INFO"/>
    <logger name="akka" level="INFO"/>
    <logger name="io.netty" level="INFO"/>
    <logger name="unknown.jul.logger" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN"/>
    <logger name="com.zaxxer.hikari.HikariConfig" level="DEBUG"/>
    <logger name="org.apache.pekko" level="INFO"/>

</configuration>
